.icon-bar
    a.linkedin(href='#')
        i.fab.fa-linkedin.fa-lg
    a.github(href='#')
        i.fab.fa-github.fa-lg
    a.email(href='#')
        i.far.fa-envelope.fa-lg
    a.resume(href='#')
        i.fas.fa-portrait.fa-lg