.icon-bar
    a.linkedin(href='https://www.linkedin.com/in/kevin-tapia/' target='_blank') Linkedin
        i.fab.fa-linkedin.fa-lg
    a.github(href='https://www.github.com/ktapia576' target='_blank')  Github
        i.fab.fa-github.fa-lg
    a.email(href='mailto:ktapia576@hotmail.com')   Email
        i.far.fa-envelope.fa-lg
    a.resume(href='/Kevin-Tapia-Resume-Online.pdf' target='_blank')  Resume
        i.far.fa-file-alt.fa-lg