.icon-bar
    a.linkedin(href='#') Linkedin
        i.fab.fa-linkedin.fa-lg
    a.github(href='#')  Github
        i.fab.fa-github.fa-lg
    a.email(href='#')   Email
        i.far.fa-envelope.fa-lg
    a.resume(href='#')  Resume
        i.far.fa-file-alt.fa-lg