footer.mt-auto.font-small.text-white
    .footer-copyright.text-center.py-3 This website is built from scratch using Node.js and is hosted on a Digital Ocean Droplet. <br>
                                       | Check the projects page to see the code on Github.