footer.mt-auto.font-small.text-white
    .footer-copyright.text-center.py-3.text-grey This website is built from the ground up using Node.js and is hosted on a Digital Ocean Droplet. (View code on projects page)