doctype html
head
    title #{title}
    meta(name="viewport" content="width=device-width, initial-scale=1")
    // link(rel="icon" href="images/logo-small.png")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
    link(rel="stylesheet" href="css/style.css")
body
    nav.navbar.navbar-expand-sm.navbar-dark(style="background-color: #34baeb;")
        a.navbar-brand(href='/') Kevin Tapia