header.mb-auto
    nav.navbar.navbar-dark.navbar-expand-lg
        a.navbar-brand(href="/") Home
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarToggler")
            span.navbar-toggler-icon

        .collapse.navbar-collapse(id="navbarToggler")
            ul.navbar-nav.mr-auto
                li.nav-item
                    a.nav-link(href="/projects") Projects
                li.nav-item
                    a.nav-link(href="/contact") Contact