doctype html
html
    head
        title #{title}
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
        script(src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.js")
    body.bg-dark
        .min-vh-95.d-flex.align-items-center.text-white.justify-content-center 
            h1 Tic-Tac-Toe
            script(src='sketch.js')
            script(src='minimax.js')