doctype html
html
    include includes/head.pug
    body.bg-dark
        include includes/contact.pug
        .container-fluid
            .row
                .col-12.p-0    
                    include includes/header.pug
                    .min-vh-100.text-center.text-light.m-0.d-flex.flex-column.justify-content-center
                        h1 This is my website!
                        p Hey this is a website
                        p Made by your boy Kev
                    include includes/footer.pug