doctype html
html
    include includes/header.pug
    body
        nav.navbar.navbar-expand-sm.navbar-dark(style="background-color: #34baeb;")
            a.navbar-brand(href='/') Kevin Tapia
        include includes/contact.pug
        h1 This is my website!
        include includes/footer.pug