doctype html
html
    include includes/head.pug
    body.bg-dark
        include includes/header.pug
        .min-vh-95.d-flex.align-items-center.text-white.justify-content-center 
            .text-center.text-light.m-0
                .display-1.font-weight-bold.mb-2 Hey! I'm Kevin Tapia
                h4.text-secondary.font-weight-bold
                    | Maecenas suscipit sodales velit vitae laoreet. Vivamus sit amet mauris neque. <br>
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                a.btn.btn-lg.btn-dark.btn-outline-light.mt-5(href="/projects" role="button") View Projects             
        include includes/footer.pug
        include includes/contact.pug