doctype html
html
    include includes/head.pug
    body.bg-dark
        include includes/header.pug
        .album.py-5.bg-dark
            .container
                .row
                    .col-md-4
                        .card.mb-4.shadow
                            img.card-img-top(src="https://gcs.thesouthafrican.com/2020/05/7be56a32-bethesda-releases-new-roadmap-of-fallout-76-1-1200x858.jpg" alt="Fallout Image")
                            .card-body
                                p.card-text Mental Health Chatbot created during Senior Research. This chatbot assitant will help raise awareness and provide tools for users.
                                .d-flex.justify-content-between.align-items-center
                                    .btn-group
                                        a.btn.btn-sm.btn-outline-secondary(href="/chatbot" role="button") Demo
                                        a.btn.btn-sm.btn-outline-secondary(href="#" role="button") Code
                                    small.text-muted 9 mins
                    .col-md-4
                        .card.mb-4.shadow-sm
                            svg.bd-placeholder-img.card-img-top(width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail")
                                title Placeholder
                                rect(width="100%" height="100%" fill="#55595c")
                                text(x="50%" y="50%" fill="#eceeef" dy=".3em") Thumbnail
                            .card-body
                                p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                                .d-flex.justify-content-between.align-items-center
                                    .btn-group
                                        button.btn.btn-sm.btn-outline-secondary(type="button") Demo
                                        button.btn.btn-sm.btn-outline-secondary(type="button") Code
                                    small.text-muted 9 mins
                    .col-md-4
                        .card.mb-4.shadow-sm
                            svg.bd-placeholder-img.card-img-top(width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail")
                                title Placeholder
                                rect(width="100%" height="100%" fill="#55595c")
                                text(x="50%" y="50%" fill="#eceeef" dy=".3em") Thumbnail
                            .card-body
                                p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                                .d-flex.justify-content-between.align-items-center
                                    .btn-group
                                        button.btn.btn-sm.btn-outline-secondary(type="button") Demo
                                        button.btn.btn-sm.btn-outline-secondary(type="button") Code
                                    small.text-muted 9 mins
        include includes/footer.pug
        include includes/contact.pug