doctype html
html
    include includes/head.pug
    body.bg-dark
        include includes/header.pug
        .album.py-5.bg-dark
            .container
                .row
                    .col-md-4
                        .card.mb-4.shadow
                            img.card-img-top.border-bottom.pointer(src="img/visualization.png" alt="Visualization Image" data-toggle="modal" data-target="#visualizationModal")
                            .card-body
                                p.card-text.text-center.font-weight-bold Data Visualization Web Application
                                p.card-text.text-center For users who want to visualize and study trends on data with tools
                                .d-flex.justify-content-between.align-items-center
                                    .btn-group
                                        a.btn.btn-sm.btn-outline-secondary(href="javascript:void(0);" data-toggle="modal" data-target="#visualizationModal" role="button") Info
                                    .btn-group
                                        a.btn.btn-sm.btn-outline-secondary(href="https://visualization.kevintapia.com" target="_blank" role="button") Demo
                                        a.btn.btn-sm.btn-outline-secondary(href="https://github.com/ktapia576/visualization-website" target="_blank" role="button") Code
                    .col-md-4
                        .card.mb-4.shadow
                            img.card-img-top.border-bottom.pointer(src="img/assistant.png" alt="Virtual Assitant Image" data-toggle="modal" data-target="#assistantModal")
                            .card-body
                                p.card-text.text-center.font-weight-bold Virtual Assistant
                                p.card-text.text-center Asks questions for the user and takes notes based off of thier answers
                                .d-flex.justify-content-between.align-items-center
                                    .btn-group
                                        a.btn.btn-sm.btn-outline-secondary(href="javascript:void(0);" data-toggle="modal" data-target="#assistantModal" role="button") Info
                                    .btn-group
                                        a.btn.btn-sm.btn-outline-secondary(href="https://assistant.kevintapia.com" target="_blank" role="button") Demo
                                        a.btn.btn-sm.btn-outline-secondary(href="https://github.com/ktapia576/Virtual-Assistant-Mental-Health" target="_blank" role="button") Code
                    .col-md-4
                        .card.mb-4.shadow-sm
                            img.card-img-top.pointer(src="img/portfolio.png" alt="Portfolio Image" data-toggle="modal" data-target="#portfolioModal")
                            .card-body
                                p.card-text.text-center.font-weight-bold Portfolio Website
                                p.card-text.text-center Built on a Digital Ocean Droplet needing server configurations
                                .d-flex.justify-content-between.align-items-center
                                    .btn-group
                                        a.btn.btn-sm.btn-outline-secondary(href="javascript:void(0);" data-toggle="modal" data-target="#portfolioModal" role="button") Info
                                    .btn-group
                                        a.btn.btn-sm.btn-outline-secondary(href="https://www.kevintapia.com" target="_blank" role="button") Demo
                                        a.btn.btn-sm.btn-outline-secondary(href="https://github.com/ktapia576/portfolio" target="_blank" role="button") Code
                    .col-md-4
                        .card.mb-4.shadow-sm
                            img.card-img-top.border-bottom.pointer(src="img/fivepdapi.png" alt="FivePD API Image" data-toggle="modal" data-target="#gtaModModal")
                            .card-body
                                p.card-text.text-center.font-weight-bold Grand Theft Auto V Mod
                                p.card-text.text-center A created mod that has achieved over 1,100 unique downloads
                                .d-flex.justify-content-between.align-items-center
                                    .btn-group
                                        a.btn.btn-sm.btn-outline-secondary(href="javascript:void(0);" data-toggle="modal" data-target="#gtaModModal" role="button") Info
                                    .btn-group
                                        a.btn.btn-sm.btn-outline-secondary(href="https://gtapolicemods.com/index.php?/files/file/1171-suspicious-person-callout-multiple-outcomes/" target="_blank" role="button") Website
                                        a.btn.btn-sm.btn-outline-secondary(href="https://github.com/ktapia576/SuspiciousPersonCallout/blob/master/SuspiciousPersonCallout.cs" target="_blank" role="button") Code
        //- Modal for image preview of Virtual assistant
        .modal.fade.bd-example-modal-lg(id="assistantModal" tabindex="-1")
            .modal-dialog.modal-lg.modal-dialog-centered
                .modal-content
                    .modal-header
                        button(type="button" class="close" data-dismiss="modal")
                            span &times;
                    .modal-body
                        .container
                            .row
                                .col-8.border-right
                                    img.img-fluid(src="img/assistant2.png" alt="Virtual Assistant Image")
                                .col.ml-3
                                    .row.mb-2
                                        h4 Virtual Assistant
                                    .row.flex-wrap
                                        p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 JavaScript
                                        p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 Node.js
                                        p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 Bootstrap 4
                                        p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 CSS3
                                        p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 HTML5
                                        p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 Linux
                                        p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 Handlebars.js
                                    .row.mt-1
                                        p Mental Health Virtual Assistant created ... This virtual assitant will help raise awareness and provide tools for users.
                                          | Praesent 
                    .modal-footer
                        button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
        //- Modal for image preview of Portfolio
        .modal.fade.bd-example-modal-lg(id="portfolioModal" tabindex="-1")
            .modal-dialog.modal-lg.modal-dialog-centered
                .modal-content
                    .modal-header
                        button(type="button" class="close" data-dismiss="modal")
                            span &times;
                    .modal-body
                        .container
                            .row
                                .col-8.border-right
                                    img.img-fluid(src="img/portfolio2.png" alt="Portfolio Image")
                                .col.ml-3
                                    .row.mb-2
                                        h4 Portfolio Website
                                    .row.flex-wrap
                                        p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 JavaScript
                                        p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 Node.js
                                        p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 Bootstrap 4
                                        p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 CSS3
                                        p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 HTML5
                                        p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 NGINX
                                        p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 Linux
                                        p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 Pug.js
                                    .row.mt-1
                                        p This portfolio website was built from the ground up using a Digital Ocean Droplet. Server configurations and networking 
                                          | had to be setup for it to work properly.
                    .modal-footer
                        button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
        //- Modal for image preview of FivePD Mod
        .modal.fade.bd-example-modal-lg(id="gtaModModal" tabindex="-1")
            .modal-dialog.modal-lg.modal-dialog-centered
                .modal-content
                    .modal-header
                        h5.modal-title Grand Theft Auto V Mod
                        button(type="button" class="close" data-dismiss="modal")
                            span &times;
                    .modal-body
                        .container
                            .row.flex-wrap
                                p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 C#
                                p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 Object Oriented
                                p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 FivePD API
                                p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 Git
                            .row.mt-1.summary
                                p This project came to be when a couple of my friends were always seen playing together on thier own modded Grand Theft Auto V server. 
                                    | When I asked them what was so fun about it, they told me its because it was a roleplay server to play as cops and robbers. This led 
                                    | me to hop on and play too! Then I realized the developers also created an API so that others can join and create mods as well. 
                                    | Thus, I created a mod that I uploaded on thier community website for others to enjoy as my friends did on thier server. The mod now has 
                                    | over 1,100 downloads and couldnt have been done without the help of the FivePD community.
                    .modal-footer
                        a.btn.btn-outline-dark(href="https://gtapolicemods.com/index.php?/files/file/1171-suspicious-person-callout-multiple-outcomes/" target="_blank" role="button") Website
                        a.btn.btn-outline-dark(href="https://github.com/ktapia576/SuspiciousPersonCallout/blob/master/SuspiciousPersonCallout.cs" target="_blank" role="button") Code
                        button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
        //- Modal for image preview of Visualization Web Application
        .modal.fade.bd-example-modal-lg(id="visualizationModal" tabindex="-1")
            .modal-dialog.modal-lg.modal-dialog-centered
                .modal-content
                    .modal-header
                        button(type="button" class="close" data-dismiss="modal")
                            span &times;
                    .modal-body
                        .container
                            .row
                                .col-8.border-right
                                    img.img-fluid(src="img/visualization.png" alt="Visualization Site Image")
                                .col.ml-3.varela
                                    .row.mb-2
                                        h4 Data Visualization Web Application
                                    .row.flex-wrap
                                        p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 JavaScript
                                        p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 PHP
                                        p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 MySQL/MariaDB
                                        p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 CSS3
                                        p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 HTML5
                                        p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 Ajax/jQuery
                                        p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 Linux
                                    .row.mt-1.scroll.summary

                    .modal-footer
                        button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
        include includes/footer.pug
        include includes/contact-bar.pug