doctype html
html
    include includes/head.pug
    body.bg-dark
        include includes/header.pug
        .album.py-5.bg-dark
            .container
                .row
                    .col-md-4
                        .card.mb-4.shadow
                            img.card-img-top.border-bottom.pointer(src="img/visualization.png" alt="Visualization Image" data-toggle="modal" data-target="#visualizationImage")
                            .card-body
                                p.card-text.text-center.font-weight-bold Data Visualization Web Application
                                p.card-text.text-center For users who want to visualize and study trends on data with tools
                                .d-flex.justify-content-between.align-items-center
                                    .btn-group
                                        a.btn.btn-sm.btn-outline-secondary.pointer(tabindex="0" data-toggle="modal" data-target="#visualizationModal" role="button") Info
                                    .btn-group
                                        a.btn.btn-sm.btn-outline-secondary(href="https://visualization.kevintapia.com" target="_blank" role="button") Demo
                                        a.btn.btn-sm.btn-outline-secondary(href="https://github.com/ktapia576/visualization-website" target="_blank" role="button") Code
                    .col-md-4
                        .card.mb-4.shadow
                            img.card-img-top.border-bottom.pointer(src="img/assistant.png" alt="Virtual Assitant Image" data-toggle="modal" data-target="#assistantImage")
                            .card-body
                                p.card-text.text-center.font-weight-bold Virtual Assistant
                                p.card-text.text-center Asks questions for the user and takes notes based off of thier answers
                                .d-flex.justify-content-between.align-items-center
                                    .btn-group
                                        a.btn.btn-sm.btn-outline-secondary.pointer(tabindex="0" data-toggle="modal" data-target="#assistantModal" role="button") Info
                                    .btn-group
                                        a.btn.btn-sm.btn-outline-secondary(href="https://assistant.kevintapia.com" target="_blank" role="button") Demo
                                        a.btn.btn-sm.btn-outline-secondary(href="https://github.com/ktapia576/Virtual-Assistant-Mental-Health" target="_blank" role="button") Code
                    .col-md-4
                        .card.mb-4.shadow-sm
                            img.card-img-top.pointer(src="img/portfolio.png" alt="Portfolio Image" data-toggle="modal" data-target="#portfolioImage")
                            .card-body
                                p.card-text.text-center.font-weight-bold Portfolio Website
                                p.card-text.text-center Built on a Digital Ocean Droplet needing server configurations
                                .d-flex.justify-content-between.align-items-center
                                    .btn-group
                                        a.btn.btn-sm.btn-outline-secondary.pointer(tabindex="0" data-toggle="modal" data-target="#portfolioModal" role="button") Info
                                    .btn-group
                                        a.btn.btn-sm.btn-outline-secondary(href="https://github.com/ktapia576/portfolio" target="_blank" role="button") Code
                    .col-md-4
                        .card.mb-4.shadow-sm
                            img.card-img-top.border-bottom.pointer(src="img/chasingImage.png" alt="FivePD API Image" data-toggle="modal" data-target="#gtaModImage")
                            .card-body
                                p.card-text.text-center.font-weight-bold Grand Theft Auto V Mod
                                p.card-text.text-center A created mod that has achieved over 1,100 unique downloads
                                .d-flex.justify-content-between.align-items-center
                                    .btn-group
                                        a.btn.btn-sm.btn-outline-secondary.pointer(tabindex="0" data-toggle="modal" data-target="#gtaModModal" role="button") Info
                                    .btn-group
                                        a.btn.btn-sm.btn-outline-secondary(href="https://gtapolicemods.com/index.php?/files/file/1171-suspicious-person-callout-multiple-outcomes/" target="_blank" role="button") Website
                                        a.btn.btn-sm.btn-outline-secondary(href="https://github.com/ktapia576/SuspiciousPersonCallout/blob/master/SuspiciousPersonCallout.cs" target="_blank" role="button") Code
        //- Modal for info of Virtual assistant
        .modal.fade.bd-example-modal-lg(id="assistantModal" tabindex="-1")
            .modal-dialog.modal-lg.modal-dialog-centered
                .modal-content
                    .modal-header
                        h5.modal-title Virtual Assistant
                        button(type="button" class="close" data-dismiss="modal")
                            span &times;
                    .modal-body.m-3
                        .row.flex-wrap.justify-content-center
                            p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 JavaScript
                            p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 Node.js
                            p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 Bootstrap 4
                            p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 CSS3
                            p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 HTML5
                            p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 Linux
                            p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 Handlebars.js
                        .row.mx-2.mt-1
                            ul.list-group.list-group-flush
                                li.list-group-item - Implemented a virtual assistant in a web application to assist users on the topic of mental health awareness.  
                                li.list-group-item - Features a chat with a virtual assistant who asks questions for the user to answer and takes notes based off the answers.    
                    .modal-footer.border-0
                        a.btn.btn-outline-dark(href="https://assistant.kevintapia.com" target="_blank" role="button") Demo
                        a.btn.btn-outline-dark(href="https://github.com/ktapia576/Virtual-Assistant-Mental-Health" target="_blank" role="button") Code
                        button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
        //- Modal for info of Portfolio
        .modal.fade.bd-example-modal-lg(id="portfolioModal" tabindex="-1")
            .modal-dialog.modal-lg.modal-dialog-centered
                .modal-content
                    .modal-header
                        h5.modal-title Portfolio Website
                        button(type="button" class="close" data-dismiss="modal")
                            span &times;
                    .modal-body.m-3
                        .row.flex-wrap.justify-content-center
                            p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 JavaScript
                            p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 Node.js
                            p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 Bootstrap 4
                            p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 CSS3
                            p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 HTML5
                            p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 NGINX
                            p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 Linux
                            p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 Pug.js
                        .row.mx-2.mt-1
                           ul.list-group.list-group-flush
                                li.list-group-item - Developed and hosted on a Digital Ocean Droplet while being served using NGINX as reverse proxy for security.
                                li.list-group-item - Automates the renewal of an HTTPS Certificate using Let's Encrypt on Ubuntu 20.
                                li.list-group-item - Uses Node.js for the server side and utilizes Pug.js as a template engine for serving HTML pages.
                                li.list-group-item - Designed and implented from scratch using the framework Bootstrap 4.
                    .modal-footer.border-0
                        a.btn.btn-outline-dark(href="https://github.com/ktapia576/portfolio" target="_blank" role="button") Code
                        button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
        //- Modal for info of GTA V Mod
        .modal.fade.bd-example-modal-lg(id="gtaModModal" tabindex="-1")
            .modal-dialog.modal-lg.modal-dialog-centered
                .modal-content
                    .modal-header
                        h5.modal-title Grand Theft Auto V Mod
                        button(type="button" class="close" data-dismiss="modal")
                            span &times;
                    .modal-body.m-3       
                        .row.flex-wrap.justify-content-center
                            p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 C#
                            p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 Object Oriented
                            p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 FivePD API
                            p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 Git
                        .row.mx-2.mt-1
                            ul.list-group.list-group-flush
                                li.list-group-item - Developed a GTA V mod for users to download and install on their own GTA V servers. 
                                li.list-group-item - Creates a scenario that features 4 different outcomes and randomization during gameplay. 
                                li.list-group-item - Achieved over 1,100 unique downloads on the community website.  
                    .modal-footer.border-0
                        a.btn.btn-outline-dark(href="https://gtapolicemods.com/index.php?/files/file/1171-suspicious-person-callout-multiple-outcomes/" target="_blank" role="button") Website
                        a.btn.btn-outline-dark(href="https://github.com/ktapia576/SuspiciousPersonCallout/blob/master/SuspiciousPersonCallout.cs" target="_blank" role="button") Code
                        button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
        //- Modal for info of Visualization Web Application
        .modal.fade.bd-example-modal-lg(id="visualizationModal" tabindex="-1")
            .modal-dialog.modal-lg.modal-dialog-centered
                .modal-content
                    .modal-header
                        h5.modal-title Data Visualization Web Application
                        button(type="button" class="close" data-dismiss="modal")
                            span &times;
                    .modal-body.m-3
                        .row.flex-wrap.justify-content-center
                            p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 JavaScript
                            p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 PHP
                            p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 MySQL/MariaDB
                            p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 CSS3
                            p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 HTML5
                            p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 Ajax/jQuery
                            p.d-inline.bg-secondary.rounded.text-white.p-1.mr-2 Linux
                        .row.mx-2.mt-1
                            ul.list-group.list-group-flush
                                li.list-group-item - Developed a web application for users who want to visualize and study trends on the data they upload or retrieve.
                                li.list-group-item - Allows users to login, save personal settings, and retrieve 3 data sets from a MySQL database.
                                li.list-group-item - Features a variety of tools, including table, bar, line, pie charts, and an interactive map that highlights states in color.
                    .modal-footer.border-0
                        a.btn.btn-outline-dark(href="https://visualization.kevintapia.com" target="_blank" role="button") Demo
                        a.btn.btn-outline-dark(href="https://github.com/ktapia576/visualization-website" target="_blank" role="button") Code
                        button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
        //- Modal for image enlarge of Visualization Web Application
        .modal.fade.bd-example-modal-lg(id="visualizationImage" tabindex="-1")
            .modal-dialog.modal-lg.modal-dialog-centered
                .modal-content
                    .modal-header
                        h5.modal-title Data Visualization Web Application
                        button(type="button" class="close" data-dismiss="modal")
                            span &times;
                    .modal-body.m-3
                        img.img-fluid(src="img/visualization.png" alt="Visualization Image")
                    .modal-footer
                        button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
        //- Modal for image enlarge of Virtual Assitant
        .modal.fade.bd-example-modal-lg(id="assistantImage" tabindex="-1")
            .modal-dialog.modal-lg.modal-dialog-centered
                .modal-content
                    .modal-header
                        h5.modal-title Virtual Assistant
                        button(type="button" class="close" data-dismiss="modal")
                            span &times;
                    .modal-body.m-3
                        img.img-fluid(src="img/assistant2.png" alt="Virtual Assitant Image")
                    .modal-footer
                        button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
        //- Modal for image enlarge of Portfolio
        .modal.fade.bd-example-modal-lg(id="portfolioImage" tabindex="-1")
            .modal-dialog.modal-lg.modal-dialog-centered
                .modal-content
                    .modal-header
                        h5.modal-title Portfolio Website
                        button(type="button" class="close" data-dismiss="modal")
                            span &times;
                    .modal-body.m-3
                        img.img-fluid(src="img/portfolio2.png" alt="Portfolio Image")
                    .modal-footer
                        button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
        //- Modal for image enlarge of GTA V Mod
        .modal.fade.bd-example-modal-lg(id="gtaModImage" tabindex="-1")
            .modal-dialog.modal-lg.modal-dialog-centered
                .modal-content
                    .modal-header
                        h5.modal-title Grand Theft Auto V Mod
                        button(type="button" class="close" data-dismiss="modal")
                            span &times;
                    .modal-body.m-3
                        img.img-fluid(src="img/chasingImage.png" alt="GTA V Mod Image")
                    .modal-footer
                        button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
        include includes/contact-bar.pug