doctype html
html
    include includes/head.pug
    body.bg-dark
        include includes/header.pug
        .album.py-5.bg-dark
            .container
                .row
                    .col-md-4
                        .card.mb-4.shadow
                            img.card-img-top.border-bottom.pointer(src="img/chatbot.png" alt="Chatbot Image" data-toggle="modal" data-target="#chatbotModal")
                            .card-body
                                p.card-text.text-justify Mental Health Chatbot created during Senior Research. This chatbot assitant will help raise awareness and provide tools for users.
                                btn.btn.btn-link.text-muted.pointer.p-0(data-toggle="modal" data-target="#chatbotModal") More info...
                                .d-flex.justify-content-end.align-items-center
                                    .btn-group
                                        a.btn.btn-sm.btn-outline-secondary(href="https://chatbot.kevintapia.com" target="_blank" role="button") Demo
                                        a.btn.btn-sm.btn-outline-secondary(href="https://github.com/ktapia576/Chatbot-Mental-Health" target="_blank" role="button") Code
                    .col-md-4
                        .card.mb-4.shadow-sm
                            img.card-img-top.pointer(src="img/portfolio.png" alt="Portfolio Image" data-toggle="modal" data-target="#portfolioModal")
                            .card-body
                                p.card-text.text-justify This portfolio website was built from the ground up using a Digital Ocean Droplet. Server configurations and networking had to be setup for it to work properly.
                                btn.btn.btn-link.text-muted.pointer.p-0(data-toggle="modal" data-target="#portfolioModal") More info...
                                .d-flex.justify-content-end.align-items-center
                                    .btn-group
                                        a.btn.btn-sm.btn-outline-secondary(href="https://www.kevintapia.com" target="_blank" role="button") Demo
                                        a.btn.btn-sm.btn-outline-secondary(href="https://github.com/ktapia576/portfolio" target="_blank" role="button") Code
                    .col-md-4
                        .card.mb-4.shadow-sm
                            svg.bd-placeholder-img.card-img-top(width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail")
                                title Placeholder
                                rect(width="100%" height="100%" fill="#55595c")
                                text(x="50%" y="50%" fill="#eceeef" dy=".3em") Thumbnail
                            .card-body
                                p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                                .d-flex.justify-content-end.align-items-center
                                    .btn-group
                                        button.btn.btn-sm.btn-outline-secondary(type="button") Demo
                                        button.btn.btn-sm.btn-outline-secondary(type="button") Code
        //- Modal for image preview of Chatbot
        .modal.fade.bd-example-modal-lg(id="chatbotModal" tabindex="-1")
            .modal-dialog.modal-lg.modal-dialog-centered
                .modal-content
                    .modal-header
                        button(type="button" class="close" data-dismiss="modal")
                            span &times;
                    .modal-body
                        .container
                            .row
                                .col-8
                                    img.img-fluid(src="img/chatbot2.png" alt="Chatbot Image")
                                .col
                                    p test of the sidebar test of the sidebar test of the sidebar test of the sidebar test of the sidebar
                    .modal-footer
                        button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
        //- Modal for image preview of Portfolio
        .modal.fade.bd-example-modal-lg(id="portfolioModal" tabindex="-1")
            .modal-dialog.modal-lg.modal-dialog-centered
                .modal-content
                    .modal-header
                        button(type="button" class="close" data-dismiss="modal")
                            span &times;
                    .modal-body
                        img.img-fluid(src="img/portfolio.png" alt="Portfolio Image")
                    .modal-footer
                        button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
        include includes/footer.pug
        include includes/contact.pug