doctype html
html
    include includes/head.pug
    body.bg-dark
        include includes/header.pug
        .album.py-5.bg-dark
            .container
                .row
                    .col-md-4
                        .card.mb-4.shadow
                            img.card-img-top.border-bottom.pointer(src="img/chatbot.png" alt="Chatbot Image" data-toggle="modal" data-target="#chatbotModal")
                            .card-body
                                p.card-text.text-justify Mental Health Chatbot created during Senior Research. This chatbot assitant will help raise awareness and provide tools for users.
                                btn.btn.btn-link.text-muted.pointer.p-0(data-toggle="modal" data-target="#chatbotModal") More info...
                                .d-flex.justify-content-end.align-items-center
                                    .btn-group
                                        a.btn.btn-sm.btn-outline-secondary(href="https://chatbot.kevintapia.com" target="_blank" role="button") Demo
                                        a.btn.btn-sm.btn-outline-secondary(href="https://github.com/ktapia576/Chatbot-Mental-Health" target="_blank" role="button") Code
                    .col-md-4
                        .card.mb-4.shadow-sm
                            img.card-img-top.pointer(src="img/portfolio.png" alt="Portfolio Image" data-toggle="modal" data-target="#portfolioModal")
                            .card-body
                                p.card-text.text-justify This portfolio website was built from the ground up using a Digital Ocean Droplet. Server configurations and networking had to be setup for it to work properly.
                                btn.btn.btn-link.text-muted.pointer.p-0(data-toggle="modal" data-target="#portfolioModal") More info...
                                .d-flex.justify-content-end.align-items-center
                                    .btn-group
                                        a.btn.btn-sm.btn-outline-secondary(href="https://www.kevintapia.com" target="_blank" role="button") Demo
                                        a.btn.btn-sm.btn-outline-secondary(href="https://github.com/ktapia576/portfolio" target="_blank" role="button") Code
                    .col-md-4
                        .card.mb-4.shadow-sm
                            img.card-img-top.border-bottom.pointer(src="img/fivepdapi.png" alt="FivePD API Image" data-toggle="modal" data-target="#fivePDModal")
                            .card-body
                                p.card-text.text-justify This is a GTA V Mod I have developed for users to download. The mod has over 1000+ downloads and was developed using the FivePD API.
                                            |  Click more info for a video preview of the mod in action.
                                btn.btn.btn-link.text-muted.pointer.p-0(data-toggle="modal" data-target="#fivePDModal") More info...
                                .d-flex.justify-content-end.align-items-center
                                    .btn-group
                                        a.btn.btn-sm.btn-outline-secondary(href="https://gtapolicemods.com/index.php?/files/file/1171-suspicious-person-callout-multiple-outcomes/" target="_blank" role="button") Website
                                        a.btn.btn-sm.btn-outline-secondary(href="https://github.com/ktapia576/SuspiciousPersonCallout/blob/master/SuspiciousPersonCallout.cs" target="_blank" role="button") Code
        //- Modal for image preview of Chatbot
        .modal.fade.bd-example-modal-lg(id="chatbotModal" tabindex="-1")
            .modal-dialog.modal-lg.modal-dialog-centered
                .modal-content
                    .modal-header
                        button(type="button" class="close" data-dismiss="modal")
                            span &times;
                    .modal-body
                        .container
                            .row
                                .col-8.border-right
                                    img.img-fluid(src="img/chatbot2.png" alt="Chatbot Image")
                                .col.ml-3
                                    .row.mb-2
                                        h4 Virtual Assistant Chatbot
                                    .row.h-15
                                        ul.m-0.p-0
                                            li.d-inline.bg-secondary.rounded.text-white.p-1.mr-1 JavaScript
                                            li.d-inline.bg-secondary.rounded.text-white.p-1.mr-1 HTML5
                                    .row.mt-1
                                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In gravida ligula non ipsum semper, sed pretium ligula porta. 
                                          | Praesent a ante metus. Quisque sed velit sed sapien convallis condimentum. Nullam at est sed ex ullamcorper varius. 
                                          | Vivamus placerat elit tellus, in egestas sem mollis et. Pellentesque libero odio, consequat vel. 
                    .modal-footer
                        button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
        //- Modal for image preview of Portfolio
        .modal.fade.bd-example-modal-lg(id="portfolioModal" tabindex="-1")
            .modal-dialog.modal-lg.modal-dialog-centered
                .modal-content
                    .modal-header
                        button(type="button" class="close" data-dismiss="modal")
                            span &times;
                    .modal-body
                        .container
                            .row
                                .col-8.border-right
                                    img.img-fluid(src="img/portfolio2.png" alt="Portfolio Image")
                                .col.ml-3
                                    .row.mb-2
                                        h4 Portfolio Website
                                    .row.h-15
                                        ul.m-0.p-0
                                            li.d-inline.bg-secondary.rounded.text-white.p-1.mr-1 JavaScript
                                            li.d-inline.bg-secondary.rounded.text-white.p-1.mr-1 HTML5
                                    .row.mt-1
                                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In gravida ligula non ipsum semper, sed pretium ligula porta. 
                                          | Praesent a ante metus. Quisque sed velit sed sapien convallis condimentum. Nullam at est sed ex ullamcorper varius. 
                                          | Vivamus placerat elit tellus, in egestas sem mollis et. Pellentesque libero odio, consequat vel. 
                    .modal-footer
                        button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
        //- Modal for image preview of FivePD Mod
        .modal.fade.bd-example-modal-lg(id="fivePDModal" tabindex="-1")
            .modal-dialog.modal-lg.modal-dialog-centered
                .modal-content
                    .modal-header
                        button(type="button" class="close" data-dismiss="modal")
                            span &times;
                    .modal-body
                        .container
                            .row
                                .col-8.border-right
                                    //- Add video instead of image for viewing. 
                                    img.img-fluid(src="img/fivepdapi.png" alt="FivePD Image")
                                .col.ml-3
                                    .row.mb-2
                                        h4 Portfolio Website
                                    .row.h-15
                                        ul.m-0.p-0
                                            li.d-inline.bg-secondary.rounded.text-white.p-1.mr-1 JavaScript
                                            li.d-inline.bg-secondary.rounded.text-white.p-1.mr-1 HTML5
                                    .row.mt-1
                                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In gravida ligula non ipsum semper, sed pretium ligula porta. 
                                          | Praesent a ante metus. Quisque sed velit sed sapien convallis condimentum. Nullam at est sed ex ullamcorper varius. 
                                          | Vivamus placerat elit tellus, in egestas sem mollis et. Pellentesque libero odio, consequat vel. 
                    .modal-footer
                        button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
        include includes/footer.pug
        include includes/contact.pug