doctype html
html
    include includes/head.pug
    body.bg-dark
        .min-vh-100.d-flex.align-items-center.text-white.justify-content-center
            div Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas suscipit sodales velit vitae laoreet.