.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 17px 17px 17px 8px;
    transition: all 0.3s ease;
    text-align: right;
    color: white;
    font-size: 20px;
    transform: translate(-85px, 0px);
}
  
.icon-bar a i {
    margin-left: 15px;
}

.icon-bar a:hover {
    transform: translate(0px, 0px);
    text-decoration: none;
}
 
.linkedin {
    background: #007bb5;
}

.github {
    background: #333;
}
  
.email {
    background: #6fc2b0;
}

.resume {
    background: #565f69;
}