.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}
  
.icon-bar a:hover {
    background-color: #000;
}
 
.linkedin {
    background: #007bb5;
    color: white;
}

.github {
    background: #55ACEE;
    color: white;
}
  
.email {
    background: #dd4b39;
    color: white;
}

.resume {
    background: #bb0000;
    color: white;
}

.fa-linkedin-in {
    color:white;
}