.varela {font-family: 'Varela', sans-serif;}

.summary {font-size: .95rem;}

.pointer {cursor: pointer;}

.text-grey {color: #bfbfbf;}

.h-15 {
    height: 15% !important;
}

.min-vh-95 {
    min-height: 95vh;
}

h1 {font-size:3rem;}
h4 {font-size:1rem;} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    h1 {font-size:4rem;}
    h4 {font-size:1rem;} 
} 

/* For desktop tablets or desktops larger than 768px */
@media only screen and (min-width: 768px) {
    h1 {font-size:5rem;}
    h4 {font-size:1.2rem;} 
}

/* (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    h1 {font-size:6rem;}  
    h4 {font-size:1.5rem;} 
}

/* (large desktops, 1930px and up) */
@media (min-width: 1930px) {  
    h1 {font-size:7.5rem;}  
    h4 {font-size:1.8rem;}
    .summary {font-size: 1rem;}  
}